* {
    font-family: 'Montserrat', sans-serif;

}

.textMap {
    color: black;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.textMap2 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}